* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: auto;
}

body {
    font-size: 16px;
}

.wrapper {
    display: flex;
    position: relative;
    align-content: center;
}

.wrapper .header-content {
    position: fixed;
    width: 300px;
    height: 100%;
    padding: 40px 30px 40px 40px;
    border-right: 1px solid #ececec;;

}

.wrapper .mobile-content {
    position: absolute;
    width: 300px;
    height: 62px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;;

}

.mobile-container {
    display: flex;
}

.mobile-media {
    display: flex;
    align-content: space-between;
}

.mobile-button {
    background: #fff;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 0;
    height: 33px;
    width: 33px;
}

.mobile-button span {
    display: block;
    background: #000;
    height: 4px;
    position: relative;
    width: 20px;
}

.mobile-button span::before {
    content: "";
    display: block;
    background: #000;
    height: 4px;
    top: -10px;
    position: absolute;
    width: 30px;
}

.mobile-button span::after {
    content: "";
    display: block;
    background: #000;
    height: 4px;
    top: 10px;
    position: absolute;
    width: 10px;
}

.mobile-logo {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    background-image: url(images/avatar_Shumenova.PNG);
    background-size: 120%;
    background-position: center;
    border-radius: 50%;
    margin: 0 20px 10px 20px;

}
.mobile-title {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color:#000;
    font-family: "Montserrat", sans-serif;
    margin: 0 10px;

}

.header-content .site-logo {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
    background-image: url(images/avatar_Shumenova.PNG);
    background-size: 120%;
    background-position: center;
    border-radius: 50%
}

.header-content .site-title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color:#000;
    font-family: "Montserrat", sans-serif;
    margin: 24px 0 16px 0;
}

 .navbar{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.header-content .navbar-item {
    flex: 1;
    cursor: pointer;
    padding: 8px 0;
}

.navbar .navbar-link {
    display: inline-block;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

 .navbar-link:active {
    color: #000
}

.navbar-link:hover {
    border-bottom: 5px solid #9013FE;
    transition: all 0.3s ease-in-out;
    color: #000000;
}

.wrapper .main-wrapper {
    width: 100%;
    margin-left: 300px;
}

section {
    padding: 0;
    margin-bottom: 0;
}

.wrapper .main-wrapper .home {
    display: flex;
    align-content: center;
    padding: 200px 0 300px 200px;
}

.main-wrapper .welcome-title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    max-width: 540px;
}

.welcome-title .welcome-word {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
}

.welcome-title .welcome-space {
    height: 40px;
    width: 530px;
}

.welcome-title .welcome-text {
    color: #888;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
}

.wrapper .main-wrapper .experience {
    display: flex;
    align-content: center;
    margin-top: 200px;
    border-top: 1px solid #ececec;;

}

.title-name {
    padding: 50px 50px 30px 50px;
    color: #000;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.timeline {
    padding: 50px 50px;
}

.timeline .timeline-container {
    padding-left: 50px;
    margin: 25px 0 25px 0;
    position: relative;
    background-color: inherit;
    width: 100%;
}

.timeline .content {
    position: relative;
}

.timeline .content {
    color: #999;
    font-size: 16px;
    text-transform: none;
    font-family: "Lato", Sans-serif;
}

.timeline .time {
    padding: 20px;
}

.timeline .title {
    font-size: 18px;
    margin: 20px 0;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 20px 0;
}

.timeline .timeline-container::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
    background-color: #9013FE;
    top: 7px;
    z-index: 1;
}

.skills .skills-content {
    display: flex;
    align-content: center;
    border-top: 1px solid #ececec;;
}

 .skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px 40px 50px 40px;
}

.skills-container .skill-row {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 2px solid #000;
    color: #888888;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    line-height: 1em;
    padding: 10px;
}

.skills-container .skills-icon {
    color: #9013FE;
    width: 50px;
    height: 50px;
}

.works .works-content {
    display: flex;
    align-content: center;
    border-top: 1px solid #ececec;;
}

.works .works-container { 
    display: flex;
    align-content: center;
    padding: 40px 40px 50px 40px;
}

.works-container .details {
    position: relative;
    width: 600px;
}

.project-image {
    display: block;
    width: 600px;
    height: 300px;
}

.image-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(144, 19, 254, 0.6);
    color: #fff;
    font-family: "Lato", Sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.image-overlay-blur {
    backdrop-filter: blur(5px);
}

.image-overlay > * {
    transform: translateY(50px);
    transition: transform 0.3s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0px);
}

.image-title {
    font-size: 20px;
    font-weight: bold;
}

.image-description {
    font-size: 17px;
    margin: 10px;
    font-weight: normal;
}

.code-example .code-content {
    display: flex;
    align-content: center;
    border-top: 1px solid #ececec;;
}

.video .video-content {
    display: flex;
    align-content: center;
    border-top: 1px solid #ececec;;
}

.video .video-container {
    padding: 40px;
    width: 100%;
}

.languages .languages-content {
    display: flex;
    align-content: center;
    border-top: 1px solid #ececec;
}

.skills-languages {
    width: 100%;
    padding: 40px;
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: 10px;
}

.skills-bar .bar .info span{
    font-family: "Lato", Sans-serif;
    font-size: 20px;
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #ececec;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #9013FE;
    position: absolute;
    border-radius: 10px;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;

}
.bar .progress-line.en span::after {
    content: "90%";
}

.bar .progress-line.rus span::after {
    content: "100%";
}

.bar .progress-line.kz span::after {
    content: "80%";
}

.bar .progress-line.en span {
    width: 90%;
}

.bar .progress-line.rus span {
    width: 100%;
}

.bar .progress-line.kz span {
    width: 80%;
}

.contacts .contacts-content {
    display: flex;
    align-content: center;
    border-top: 1px solid #ececec;;
}

.contacts .contacts-container {
    padding: 40px 40px 80px 40px;
}

.list-contact {
    display: flex;
    justify-content: space-around;
}

.data-contact {
    text-align: center;
}

.list-contact .skills-icon {
    color: #9013FE;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.list-contact .title-contact {
    padding: 10px;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.list-contact .text-contact {
    font-family: "Lato", Sans-serif;
    font-size: 17px;
    text-decoration-line: none;
    color: #000;
    padding: 5px;
}

.header-content .footer-content {
    position: absolute;
    bottom: 0px;
    width: 200px;
}

.footer-content .social-links {
    display: flex;
    justify-content: space-between;
}

.social-links .footer-ico {
    width: 40px;
    height: 40px;
    color: #000;
    padding: 0 10px 10px 0;
}

.social-links .social-school {
    display: block;
    position: relative;
    width: 70px;
    height: 40px;
    background-image: url(images/rs_school_logo.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

 .footer-year {
    display: inline-block;
    color: #000;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    padding: 15px 0;
    text-align: left;
}

@media (max-width: 1440px) {

    .mobile-content {
        display: none;
    }
    
}

@media (max-width: 768px) {

    .header-content {
        left: 100%;
    }

    .header-content.active {
        position: relative;
        left: 50%;
    }

    .mobile-content {
        display: block;
    }

    .wrapper {
        max-width: 750px;
        justify-content: center;
    }

    section {
        max-width: 750px;
    }

    .wrapper .main-wrapper .home {
        display: block;
        padding: 100px 0px 300px 100px;
    }

    .title-name {
        padding: 50px;
    }

}

@media (max-width: 420px) {
    section {
        padding: 0 2rem;
        margin-bottom: 2rem;
    } 

    .header-content {
        left: 100%;
    }

    .header-content.active {
        display: flex;
        flex-direction: column;
        left: -5%;
        padding-top: 20px;
        border: none;

    }

    .mobile-content.active {
        display: block;
        position: relative;
        padding: 10px;
    }

    .wrapper .main-wrapper {
        margin-left: 0;
        max-width: 300px;
    }

    .footer-content.active {
        position: relative;
    }

    .wrapper.active {
        display: flex;
        flex-direction: column;
    }

    .wrapper .main-wrapper .home {
        display: block;
        padding: 100px 15px 100px 15px;
    }

    .main-wrapper .welcome-title {
        max-width: 330px;
    }

    .welcome-title .welcome-word {
        font-size: 50px;
    }

    section {
        max-width: 300px;
        padding: 0;
    }

    .title-name {
        padding: 50px 50px 30px 15px;
    }

    .timeline {
        padding: 50px 15px;
    }

    .skills-container .skill-row{
        margin: 10px;
    }

    .works .works-container {
        padding: 20px;
    }

    .works-container .details{
        width: 300px;
        height: 200px;
    }

    .project-image {
        width: 280px;
        height: 200px;
    }
    
    .pre code.hljs {
        width: 100%s;
    }

    .video .video-container {
        padding: 15px;
    }

    iframe {
        width: 270px;
        height: 200px;
    }

    .list-contact {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .data-contact {
        margin: 15px;
    }

}